{{ define "main" }}
  {{ range ($.Site.RegularPages.GroupByDate "2006") -}}
    <section>
      <h2 id="{{ .Key }}" class="post-list-heading">
        <a class="title-link" href="#{{ .Key }}">{{ .Key }}</a>
      </h2>
      <ul class="post-list">
        {{ range .Pages -}}
          <li class="post-list-item">
            <span class="post-list-item-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </span>
            {{- with .Params.tags }}
              <span class="post-list-item-tags">[
                {{ range $tag := . -}}
                  {{- with $.Site.GetPage (printf "/%s/%s" "tags" .) -}}
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  {{ end }}
                {{ end }}
              ]</span>
            {{ end }}
            <div class="post-list-item-date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}
