/* variable */
$primary-color: #267cb9;
$black-color: #151515;
$gray-color: #5e5e5e;
$dark-gray-color: #a9a9a9;
$dim-gray-color: #909090;
$light-gray-color: #d3d3d3;
$white-color: #fff;

/* base */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $white-color;
  background-size: cover;
  color: $black-color;
  text-align: left;
  font-size: 1.5rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Yu Gothic",YuGothic,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  border-bottom: 1px solid $dark-gray-color;
  color: $dark-gray-color;
}

/* main */
.app-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
}

.app-header {
  text-align: center;
  width: 25%;
  padding: 80px 0 0 5%;
}

.app-header ul {
  padding-left: 0px;
}

.header-title a {
  color: $black-color;
}

.header-content--fixed {
  position: sticky;
  top: 20px;
}

.app-container {
  display: block;
  width: 75%;
  padding: 20px 5% 50px 10px;
}

.post-body pre {
  overflow-x: scroll;
  padding: 10px 10px 20px;
}

.post-body-content p code {
  background-color: $light-gray-color;
  border-radius: 3%;
  padding: 1px 3px;
}

.post-body h1 {
  line-height: 3.5rem;
  padding-top: 10px;
}

.post-body h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.post-body h3 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.post-body h4 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.post-body h5 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.post-body h6 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.post-body h1::before {
  content: "#";
  margin-right: 5px;
}

.post-body h2::before {
  content: "##";
  margin-right: 5px;
}

.post-body h3::before {
  content: "###";
  margin-right: 5px;
}

.post-body h4::before {
  content: "####";
  margin-right: 5px;
}

.post-body h5::before {
  content: "#####";
  margin-right: 5px;
}

.post-body h6::before {
  content: "######";
  margin-right: 5px;
}

.post-body {
  color: $gray-color;
  text-align: justify;
  line-height: 2.2rem;
}

.post-body-meta {
  display: inline-block;
  padding-left: 5px;
}

.post-body-tags {
  display: inline-block;
}

.post-body-content {
  padding: 10px 0;
}

.post-body-content blockquote {
  border-left: 5px solid $light-gray-color;
  color: $dim-gray-color;
  padding: 5px 0 5px 10px;
  margin-left: 20px;
}

/* post list */
.post-list {
  list-style-type: none;
  padding-left: 0px;
}

.post-list-heading {
  color: #151515;
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 2px solid $light-gray-color;
  padding-bottom: 10px;
  padding-left: 5px;
}

.post-list-heading::before {
  content: "#";
  padding-right: 5px;
}

.post-list-item {
  padding: 10px 0;
}

.post-list-item-title {
  font-size: 1.8rem;
}

.post-list-item-title::before {
  content: "-";
}

.post-list-item-meta {
  display: block;
  font-size: 1.2rem;
  padding-top: 8px;
  padding-left: 5px;
}

.post-list-item-tags {
  font-size: 1.2rem;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}

.social-list-item {
  padding: 5px 10px;
}

.social-list-item a {
  text-decoration: none;
  color: $black-color;
}

.social-list-item a:hover {
  color: $dark-gray-color;
  border-bottom: none;
}

.social-list-icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

ul.pagination {
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

li.page-item {
  padding: 0 2px;
  font-size: 2rem;
}

li.page-item.active a {
  color: $black-color;
}

li.page-item.disabled a {
  color: $dim-gray-color;
}

@media screen and (max-width: 896px) {
  .app-wrapper {
    display: block;
  }

  .app-container {
    width: 100%;
    padding: 20px 20px 50px;
  }

  .app-header {
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .social-list {
    display: inline-flex;
  }
}
