/* base */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  background-size: cover;
  color: #151515;
  text-align: left;
  font-size: 1.5rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Yu Gothic",YuGothic,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: #267cb9;
}

a:hover {
  border-bottom: 1px solid #a9a9a9;
  color: #a9a9a9;
}


/* main */
.app-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
}

.app-header {
  text-align: center;
  width: 30%;
  padding: 20px 0 10px;
}

.header-content--fixed {
  position: sticky;
  top: 20px;
}

.header-title a {
  color: #151515;
}

.app-container {
  display: block;
  width: 70%;
  padding: 20px 0 5px;
}

.post-body h1::before {
  content: "#";
  margin-right: 5px;
}

.post-body h2::before {
  content: "##";
  margin-right: 5px;
}

.post-body h3::before {
  content: "###";
  margin-right: 5px;
}

.post-body h4::before {
  content: "####";
  margin-right: 5px;
}

.post-body h5::before {
  content: "#####";
  margin-right: 5px;
}

.post-body h6::before {
  content: "######";
  margin-right: 5px;
}

.post-body {
  color: #5e5e5e;
}

/* post list */
.post-list {
  list-style-type: none;
}

.post-list-item {
  padding: 10px 0;
}

.post-list-item-title {
  font-size: 1.8rem;
}

.post-list-item-title::before {
  content: "-";
}

.post-list-item-description {
  display: block;
  font-size: 1.2rem;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-inline-start: 0px;
  padding: 0 55px;

  list-style-type: none;
}

.social-list-item {
  padding: 5px 2px;
}

.social-list-icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
